body {
  background-color: red;
  font-family: "Helevetica", sans-serif;
  color: purple;
}
h1 {
  color: orange;
  font-family: "Times New Roman", serif;
}
h2 {
  color: brown;
  font-family: "Poppins";
}
